*, *::before, *::after {
  box-sizing: border-box;
  font-family: ab-koki-maru, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
html body {
  position: relative;
  overflow: hidden;
}
html body .first_view {
  z-index: 10;
  background-color: #fff;
  will-change: transform;
  transition: 0.5s;
}
html body .first_view.erase {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  display: none;
}
html body .first_view .inner {
  width: min(1080px, 100%);
  height: 100vh;
  display: grid;
  place-items: center;
}
html body .first_view .inner .title {
  font-size: 5rem;
  text-align: center;
}
html body .first_view .inner .enter_button {
  width: 200px;
  height: 100px;
  background-color: #333;
  color: #fff;
  font-size: 3rem;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.5s;
}
html body .first_view .inner .enter_button:hover {
  opacity: 0.5;
}
html body .main {
  visibility: hidden;
}
html body .main.isActive {
  width: min(1080px, 100%);
  height: 100vh;
  visibility: visible;
  opacity: 1;
}
html body .main .inner {
  margin: 20px;
  display: grid;
  place-items: center;
}
html body .main .inner .both {
  display: flex;
  gap: 30px;
}
html body .main .inner .both .name {
  font-size: 3rem;
  text-align: center;
}
html body .main .inner .both .myself {
  margin-top: 50px;
}
html body .main .inner .both .myself .myHandImgWrap {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
html body .main .inner .both .myself .myHandImgWrap img {
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .main .inner .both .myself .myAddStarWrap {
  width: 100px;
  height: 30px;
}
html body .main .inner .both .myself .myAddStarWrap img {
  width: 30px;
  height: auto;
}
html body .main .inner .both .pc {
  margin-top: 50px;
}
html body .main .inner .both .pc .pcHandImgWrap {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
html body .main .inner .both .pc .pcHandImgWrap img {
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .main .inner .both .pc .pcAddStarWrap {
  width: 100px;
  height: 30px;
}
html body .main .inner .both .pc .pcAddStarWrap img {
  width: 30px;
  height: auto;
}
html body .main .inner .judge {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 3rem;
  display: grid;
  place-items: center;
}
html body .main .inner .myhandBtns {
  margin-top: 50px;
  font-size: 2rem;
  transition: 0.5s;
  display: flex;
  gap: 20px;
}
html body .main .inner .myhandBtns .stoneBtn {
  background-color: palevioletred;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
html body .main .inner .myhandBtns .stoneBtn:hover {
  transform: scale(1.2);
}
html body .main .inner .myhandBtns .scissorBtn {
  background-color: cornflowerblue;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
html body .main .inner .myhandBtns .scissorBtn:hover {
  transform: scale(1.2);
}
html body .main .inner .myhandBtns .paperBtn {
  background-color: seagreen;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
html body .main .inner .myhandBtns .paperBtn:hover {
  transform: scale(1.2);
}
html body .main .inner .result {
  display: flex;
  margin-top: 50px;
  font-size: 3rem;
}
html body .main .inner .myResult {
  font-size: 3rem;
}
html body .main .inner .resetBtn {
  font-size: 3rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
html body .main .inner .resetBtn:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
html body .main .inner .rule {
  font-size: 3rem;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
html body .main .inner .rule:hover {
  opacity: 0.7;
  transform: scale(1.2);
}
html body .main .inner .ruleBook {
  width: 80%;
  height: 100px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  overflow-y: scroll;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body .main .inner .ruleBook .ruleBookInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body .main .inner .ruleBook .ruleBookInner ul li {
  font-size: 2rem;
  white-space: nowrap;
}
html body .main .inner .ruleBook.show {
  visibility: visible;
  opacity: 1;
}
html body .main .inner .ruleBook #modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}
html body .main .inner .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  visibility: hidden;
  opacity: 1;
  z-index: 1;
}
html body .main .inner .mask.show {
  visibility: visible;
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */